# ==============================================================================
# Dépendances Python pour CoyoteWOLtool
#
# Ce fichier est utilisé par pip pour installer les bibliothèques nécessaires.
# Chaque ligne correspond à une bibliothèque requise.
# ==============================================================================

# Flask est le micro-framework web utilisé pour créer l'API et servir
# l'interface utilisateur. C'est le cœur du serveur de l'application.
Flask>=2.0

# Scapy est une puissante bibliothèque de manipulation de paquets.
# Elle est utilisée ici pour effectuer des scans ARP sur le réseau local
# afin de découvrir les appareils connectés et leurs adresses MAC.
scapy
